.total{
    text-align: center;
}

.chart-container{
    display: flex;
    flex-direction: column;
}

.add-item{
    width: 30%;
    align-self: center;
    margin: .5rem;
    background-color: #008CBA;
    color: white;
    font-size: 12pt;
    padding: .5rem;
    border: none;
    border-radius: 5pt 5pt;
}