.chart-container{
    display: flex;
    flex-direction: column;
}

.graph-container{
    position: relative;
    height: 40vh;
    width: 80vw;
    margin: 1rem auto;
}

.add-item{
    width: 35%;
    align-self: center;
    margin: .2rem;
    background-color: #008CBA;
    color: white;
    font-size: 10pt;
    padding: .5rem;
    border: 2pt white solid;
    border-radius: 5pt 5pt;
}

.add-item:hover{
    border: 2pt solid rgb(58, 58, 112);
    box-shadow: 4px 4px 2px 1px rgba(5, 5, 56, 0.2);
}

.add-item:active{
    background-color: rgb(58, 58, 112);
    border: 2pt solid rgb(0, 0, 0);
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (min-width: 720px){
    .graph-container{
        position: relative;
        height: 40vh;
        width: 50vw;
        margin: 1rem auto;
    }

    .add-item{
        font-size: 14pt;
        padding: .5rem;
        margin: 1rem;
        width: 35%;
    }
}