li{
    list-style-type: none;
}

.list-edit{
    margin: 0 auto;
}

.item{
    list-style-type: none;
    text-align: center;
    width: 35%;
    border:2pt rgb(127, 127, 255) solid;
    border-radius: 10px 10px;
    margin: .5rem;
    padding: .5rem;
    font-size: 10pt;
}

.item-edit-box{
    list-style-type: none;
    border: 2pt rgb(127, 127, 255) solid;
    border-radius: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.edit-labels{
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}

.edit-labels label{
    font-weight: bold;
}

.edit-labels input{
    text-align: center;
    font-size: 14pt;
    border-radius: 10pt 10pt;
}

.edit-labels input:hover, .edit-labels input:focus{
    font-size: 14pt;
    border: 2pt solid rgb(135, 135, 250);
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, .2);
}

input{
    width: 60%;
}

.item:hover{
    font-weight: bold;
    border: 2pt rgb(60, 60, 172) solid;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.item:active{
    background: rgb(127, 127, 255);
    color: white;
    font-weight: bold;
}