.header{
    height: 6vh;
    padding-bottom: 5px;
    border-bottom: 1pt grey solid;
    box-shadow: 0 0 4px #002152, 0 0 7px #0000FF;
}

h2{
    text-align: center;
    margin: 0 auto;
    font-size: 24pt;
    color: rgb(0, 125, 209);
    padding-bottom: 5px;
    text-shadow: 2px 2px 4px #6c94c2;
}

.auth{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
}

.auth-button{
    border: none;
    color: white;
    margin: .1rem;
    border-radius: 3pt 3pt;
    border: .5pt rgb(0, 125, 209) solid;
    font-size: 9pt;
    padding: .2rem;
    background-color: rgb(0, 125, 209);
}

.auth-button:hover{
    border: .5pt black solid;
    background-color: white;
    color: black;
    margin: .1rem;
    border-radius: 3pt 3pt;
    font-size: 9pt;
    padding: .2rem;
}
.auth-button:active{
    color: black;
}


@media screen and (min-width: 540px){
    .header{
        border-bottom: 2pt grey solid;
        box-shadow: 0 0 8px #002152, 0 0 10px #0000FF;
    }

    h2{
        font-size: 40pt;
    }

    .auth{
        flex-direction: column;
        height: 6vh;
    }

    .auth-button{
        padding: .25rem;
        font-size: 14pt;
        margin: .25rem;
        height: 3vh;
    }

    .auth-button:hover, .auth-button:active{
        padding: .25rem;
        font-size: 14pt;
        margin: .25rem;
        height: 3vh;
    }
}

@media screen and (min-width: 840px){
    .auth{
        margin: .75rem;
        flex-direction: row;
        height: 6vh;
    }

    .auth-button{
        padding: .3rem;
        font-size: 16pt;
        height: 3.5vh;
    }

    .auth-button:hover, .auth-button:active{
        font-size: 16pt;
        padding: .3rem;
        font-size: 16pt;
        height: 3.5vh;
    }
}