.description{
    margin: 1rem;
    padding-left: 5%;
    padding-right: 5%;
    text-indent: 1rem;
}


@media screen and (min-width: 540px){
    .description{
        font-size: 14pt;
        margin: 2rem;
        padding-left: 20%;
        padding-right: 20%;
    }

    .description, .chart-home{
        max-width: 80vw;
        margin: 1rem auto;
    }
}

@media screen and (min-width: 900px){
    .description, .chart-home{
        max-width: 65vw;
        margin: 1.5rem auto;
    }
}


@media screen and (min-width: 1200px){
    .description, .chart-home{
        max-width: 45vw;
        margin: 1rem auto;
    }
}