.description{
    margin: 1rem;
    padding-left: 5%;
    padding-right: 5%;
    text-indent: 1rem;
}


@media screen and (min-width: 540px){
    .description{
        font-size: 18pt;
        margin: 2rem;
        padding-left: 10%;
        padding-right: 10%;
    }

    .description, .chart-home{
        max-width: 60vw;
        margin: 1rem auto;
    }
}

@media screen and (min-width: 900px){
    .description, .chart-home{
        max-width: 50vw;
        margin: 1rem auto;
    }
}